:host {
  display: block;
}
.user-card {
  font-family: 'Montserrat', sans-serif;
  color: #45a29e;
  background: #1f2833;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-bottom: 15px;
  border-bottom: #45a29e 5px solid;
  border-radius: 5px; 
}

.user-card img {
  width: 100%;
}

.user-card button {
  cursor: pointer;
  background:  #f4f4f4;
  color: #45a29e;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}