:host {
  display: block;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.user-card {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: #1f2833;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-bottom: 15px;
  border-bottom: #45a29e 5px solid;
  border-radius: 5px; 
  padding: 20px;
  position: relative;
  transition: transform 1s ease-in-out;
  left: -450px;
}
.user-card:hover {
  transform: translateX(+500px);
  transition: transform 1s ease-in-out;
}

#bild {
  position: absolute;
  padding: 5px;
  max-width: 40px;
  max-height: 40px;
  margin-left: 470px;
  margin-top: 15px;
}

.nameFeld {
  padding: 10px;
}